.sidebar_single_module
  .sidebar_wraper
    .sidebar_inner
      .text_widget
        %h2
          Brian Auton
        %p Software developer and consultant in the Philadelphia area.
      .right_social_area
        %br
        %p= partial "social_icons"

.sidebar_single_module
  .sidebar_wraper
    .sidebar_inner
      .text_widget
        %h2 Recent Posts
        - blog.articles.each do |article|
          %p= link_to article.title, article

.sidebar_single_module
  .sidebar_wraper
    .sidebar_inner
      .text_widget
        %h2 Open Source Projects
        %p
          = link_to "Conjure", "https://github.com/brianauton/conjure"
          Rails provisioning and deployment with the power of Docker.
        %p
          = link_to "Rails-Embryo", "https://github.com/brianauton/rails-embryo"
          Generators to quick-start new Rails projects with best practices
        %p
          = link_to "Rails-Futurizer", "https://github.com/brianauton/rails-futurizer"
          Helping to smooth the upgrade path for Rails applications.
        %p
          = link_to "RSpec-Live", "https://github.com/brianauton/rspec-contracts"
          Auto-runner and formatter for RSpec 3.

.sidebar_single_module
  .sidebar_wraper
    .sidebar_inner
      .text_widget.copy_right
        %h2 &copy; #{Date.today.year} Brian Auton
